<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="processing.test.mbvisorpc2"><uses-sdk android:minSdkVersion="10"/><application android:debuggable="false" android:icon="@drawable/icon" android:label="MBvisorpc2"><activity android:name=".MBvisorpc2" android:screenOrientation="landscape" android:theme="@android:style/Theme.NoTitleBar"><intent-filter><action android:name="android.intent.action.MAIN"/><category android:name="android.intent.category.LAUNCHER"/></intent-filter></activity></application><uses-permission android:name="android.permission.BLUETOOTH"/><uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/><uses-permission android:name="android.permission.INTERNET"/></manifest>